#heading1{
	font-size: 40px;
}
p{
	margin-bottom: 0px;
	font-size: 15px;
}
#heading2{
	font-size: 32px;
}
.heading3{
	font-size: 15px;
}
.heading4{
	font-size: 26px;
	font-weight: 600;
}
#style{
	margin-bottom: 10px;
}
.btn{
	font-size: 15px;
	margin-top: 10px;
	float:right;
}
.float1{
	float:left;
}
.score{
	float:right;
}

.inline{
	display:-webkit-inline-box;
	width: 365px;
}

.scrollmenu{
	overflow: auto;
}